/*Navbar*/
.navbar {
  background-color: #60d2d6;
  border: none;
  opacity: 78%;
}

/*Logotipo del navbar*/
.navbar img {
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
  height: 97;
}

/*Search item form*/
/* ul.navbar-nav input[type="search"]{
   border: 1px solid #707070;
    margin-left: 86px;
    width: 674px;
    height: 68px;
    border-radius: 34px;
    color: #C2C2C2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    padding-left: 29px;
    padding-bottom: 21px;
    padding-top: 15px;
} */

/*Serch button with icon*/
/* ul.navbar-nav div.Search{
    overflow: visible;    
    margin-left: 86px;
    width: 674px;
    height: 68px;
    vertical-align: middle;
    white-space: nowrap;
    
} */

/*Search item form*/
form.Search input[type="search"] {
  width: 683px;
  height: 37px;
  margin-left: 86px;
  margin-top: 15px;
  border: 1px solid #707070;
  border-right: none;
  -webkit-border-top-left-radius: 34px;
  -webkit-border-bottom-left-radius: 34px;
  color: #c2c2c2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  padding-left: 29px;
  padding-bottom: 21px;
  padding-top: 15px;
}

form.Search button {
  border: 1px solid #707070;
  width: 37px;
  height: 37px;
  border-left: none;
  -webkit-border-top-right-radius: 34px;
  -webkit-border-bottom-right-radius: 34px;
  background-color: white;
  padding: 0px;
  margin-top: 15px;
  outline: none;
}

/*navbar items*/
li.nav-item a.nav-link {
  padding: 0px;
  margin-top: 15px;
  margin-left: 20px;
  font-size: 21px;
  color: black;
}

/*Shop cart container*/
div.shop-cart {
  margin-left: 50px;
  padding: 0px;
}

/*Shop cart icon*/
div.shop-cart a > img {
  width: 50px;
  height: 50px;
  margin: 0px;
  /*  margin-bottom: 33px;
    margin-top: 30px;
    margin-right: 54px;
    margin-left: 38px; */
}

/*Cart ammount*/
div.shop-cart > span {
  margin-left: 35px;
  font-weight: bold;
}

/*Categoires bos header container*/
div.categories-box {
  background-color: #c2c2c2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  height: 65px;
}

/*Categories box tittle*/
div.categories-box > h1 {
  vertical-align: middle;
}

/*catories box continer*/
div.categories-container {
  border: 2px solid #c2c2c2;
}

/*categoires box list content*/
div.categories-container ul > li {
  list-style: none;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: none;
  text-align: left;
}

/*categoires box ancores*/
div.categories-container a {
  text-decoration: none;
  color: black;
}

/*Banner below catousel*/
div.secondary-banner {
  margin-top: 42px;
}

/*Banner below carousel*/
div.secondary-header-cyan {
  padding-top: 18px;
  padding-left: 10px;
  background-color: #60d2d6;
  display: flex;
}

/*Banner Title*/
div.secondary-header-cyan > h2 {
  text-align: left;
  margin-left: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 28px;
}

/*Baner title icon*/
div.secondary-header-cyan > img {
  height: 55px;
  width: 55px;
  margin-left: 40px;
  /* background-color: green; */
  padding: none;
  margin: none;
}

/*Account behaiviors list*/
div.secondary-banner > ul > li {
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  /* background-color: red; */
}

/*Division*/
div.division {
  height: 3px;
  background-color: #60d2d6;
}

/*Buttons container*/
div.account {
  display: flex;
}

/*Buttons Style*/
div.account > form input[type="submit"] {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 45px;
  margin-bottom: 10px;
  border-radius: 38px;
  outline: none;
}

/*Sing in color and font*/
input#sign-in {
  background-color: #d5ee54;
  color: black;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*Login in color and font*/
input#log-in {
  background-color: #60d2d6;
  color: white;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*Sale image*/
div.card-image > img {
  max-height: 150px;
  margin-left: 30px;
}

/*secondary header on red*/
div.secondary-header-cyan#best-seller {
  background-color: #f27373;
}

/*ssecondary header on green*/
div.secondary-header-cyan#new-items {
  background-color: #d5ee54;
}

div.first-banner {
  height: 180px;
  background-color: #60d2d6;
  margin-top: 60px;
  padding-left: 30px;
  padding-top: 20px;
}

div.first-banner > p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 34px;
  color: white;
  text-align: left;
}

div.first-banner > p#discount-info {
  font-size: 24px;
  width: 800px;
  margin-top: 30px;
  color: black;
}

div.col-lg-9 > p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 34px;
  color: white;
  text-align: left;
}

div.col-lg-9 > p#discount-info {
  font-size: 24px;
  width: 800px;
  margin-top: 30px;
  margin-bottom: 50px;
  color: black;
}

div.col-lg-3.banner{
  margin-top: 50px;
  padding-top: 0px;
  padding-top: 20px;
  padding-left: 90px;
  align-items: center;
  background-color: #60d2d6;
}

/* div.col-lg-3 > img {
  height: 150px;
  width: 150px;
  border: none;
  margin: none;
 /*  margin-left: 80px; 
} */

div.col-lg-9.banner-content {
  background-color: #60d2d6;
  margin-top: 50px;
  padding-top: 10px;
  padding-left: 30px;
}

div.col-lg-9.banner-content > div.row > p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 34px;
  color: white;
  text-align: left;
}

div.col-lg-9.banner-content > div.row > p#discount-info {
  font-size: 24px;
  width: 800px;
  margin-top: 8px;
  color: #474747;
}

/* div.col-lg-3{
  background-color: #60d2d6;
} */

div.col-lg-3>img{
  max-height: 150px;
  max-width: 150px;
}

/* <p>Ofertas de la semana que no ¡puedes dejar pasar!</p>
            <p id="discount-info">Desde un 7% hasta un 10% en todos los productos seleccionados
              Conoce más en términos y condiciones</p>
              <img src="../img/iconos/las-mejores-ofertas.png" alt="">
          </div> 
*/

/* Product card */

div.col-lg-3#productCard{
  margin: 30px;
}

div.product-card{
  height: auto;
  display: flex;
  background-color: red;
}

div.product-card-discount{
  /*width: 50%;*/
  height: 65px;
  background-color: #d5ee54;
  text-align: center;
  padding-top: 8px;
  padding-left: none;
  padding-right: 10px;
}

div.product-card-discount>p{
  text-align:center;
  font-weight: bold;
  font-size: 34px;
  color: #474747;
}
div.product-card-end{
  /*width: 50%;*/
  height: 65px;
  background-color: #60d2d6;
  text-align: center;
  padding-top: 8px;
}

div.product-card-end>p{
  text-align:center;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}

/*Card image*/
 
div.col-lg-2.product-img{
  margin: 0px;
}

div.col-lg-2.product-img>img{
  background-color: grey;
  max-height: 30px;
  max-width: 30px;
  
}

/*div.product-img>img{
 background-color: yellow;
}*/